<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <title>Computerized Medical Equipment Maintenance System </title>
    <link href="/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/">
                        <b class="logo-icon p-l-10">
                            <img src="/img/favicon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span class="logo-text" style="margin-top:8px;">
                             <h3>CMMS - Admin</h3>
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span class="d-none d-md-block">Create New <i class="fa fa-angle-down"></i></span>
                             <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>   
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/hr/new-engineer">Engineer</a>
                                <a class="dropdown-item" href="/hr/new-operator ">User</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="font-24 mdi mdi-comment-processing"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                                <ul class="list-style-none">
                                    <li>
                                        <div class="">
                                             <!-- Message -->
                                            <a href="/maintenance/schedule" class="link border-top">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                                    <div class="m-l-10">
                                                        <h5 class="m-b-0">Today Schedule</h5> 
                                                        <span class="mail-desc">Just a reminder of your schedules</span> 
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="/chat" class="link border-top">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <span class="btn btn-info btn-circle"><i class="ti-settings"></i></span>
                                                    <div class="m-l-10">
                                                        <h5 class="m-b-0">Messages</h5> 
                                                        <span class="mail-desc">Check to see new message(s)</span> 
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <a class="navbar-brand" href="/admin-logout" style="margin-top:13px">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Inventory </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/inventory/equipment" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Equipments </span></a></li>
                                <li class="sidebar-item"><a href="/inventory/spare" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Spares </span></a></li>
                                <li class="sidebar-item"><a href="/inventory/accessory" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Accessories </span></a></li>

                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Human Resource </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/hr/engineers" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu"> Engineer </span></a></li>
                                <li class="sidebar-item"><a href="/hr/operators" class="sidebar-link"><i class="mdi mdi-emoticon-cool"></i><span class="hide-menu"> Operator </span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-settings"></i><span class="hide-menu">Maintenance </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/maintenance/procedures" class="sidebar-link"><i class="mdi mdi-settings"></i><span class="hide-menu"> Procedures </span></a></li>
                                <li class="sidebar-item"><a href="/maintenance/corrective-maintenance" class="sidebar-link"><i class="mdi mdi-settings"></i><span class="hide-menu"> Corrective Maintenance </span></a></li>
                                <li class="sidebar-item"><a href="/maintenance/preventive-maintenance" class="sidebar-link"><i class="mdi mdi-settings"></i><span class="hide-menu"> Preventive Maintenance </span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Others </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/reports" class="sidebar-link"><i class="mdi mdi-bulletin-board"></i><span class="hide-menu"> Reports </span></a></li>
                                <li class="sidebar-item"><a href="/chat" class="sidebar-link"><i class="mdi mdi-message-outline"></i><span class="hide-menu"> Chat </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">New Equipment</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="/admin">Admin</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-10">
                        <div class="card">
                            <p style="color:green">{{success}}</p>
                            <p style="color:red">{{error}}</p>
                            <br>
                            <div class="card-body">
                                <form action="/inventory/add-equipment" method="post" name='equipt_form'>
                                    <div class="row mb-3">
                                        <div class="col-lg-4">
                                            <label>Equipment Name</label>
                                            <input type="text" class="form-control" required ="required" placeholder="Enter Name" name="name" id="name">
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Model </label>
                                            <input type="text" class="form-control" required ="required"  placeholder="Enter Model" name="model" id="model">
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Serial Number </label>
                                            <input type="number" class="form-control" required ="required"  placeholder="Enter SN" name="serial_num" id="serial_num">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label>Country of Origin</label>
                                            <select name="country_origin" id="country_origin" class="form-control">
                                                <option value="nigeria">Nigeria</option>
                                                <option value="ghana">Ghana</option>
                                                <option value="usa">USA</option>
                                                <option value="japan">Japan</option>
                                                <option value="germany">Germany</option>
                                                <option value="china">China</option>
                                                <option value="britain">Britain</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Manufacturer </label>
                                            <input type="text" class="form-control" required ="required"  placeholder="Enter Manufacturer" name="manufacturer" id="manufacturer">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label>Order Number</label>
                                            <input type="number" class="form-control" required ="required"  placeholder="Enter Order Number" name="order_num" id="order_num">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Manufacture Date </label>
                                            <input type="date" class="form-control" required ="required"  placeholder="Enter Manufacture Date" name="manuf_date" id="manuf_date">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label>Receive Date</label>
                                            <input type="date" class="form-control" required ="required"  placeholder="Received" name="received_date" id="received_date">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Warranty Expire </label>
                                            <input type="date" class="form-control" required ="required"  placeholder="Warranty" name="warr_exp_date" id="warr_exp_date">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label>Install Date</label>
                                            <input type="date" class="form-control" required ="required"  placeholder="Enter Install Date" name="install_date" id="install_date">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Current State </label>
                                            <input type="text" class="form-control" required ="required"  placeholder="Enter Current State" name="current_state" id="current_state">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label>Supplier Name</label>
                                            <input type="text" class="form-control" required ="required"  placeholder="Enter Supplier Name" name="supplier_name" id="supplier_name">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Supplier Phone Number </label>
                                            <input type="number" class="form-control" required ="required"  placeholder="Enter Supplier Number" name="supplier_phnum" id="supplier_phnum">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label>Cost </label>
                                            <input type="number" class="form-control" required ="required"  placeholder="Enter Cost" name="cost" id="cost">
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Power Rating Required </label>
                                            <input type="number" class="form-control" required ="required"  placeholder="Enter Power Rating Required" name="power_req" id="power_req">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-0"> </div>
                                        <div class="col-md-12">
                                            <div class="custom-control custom-checkbox mr-sm-2 col-lg-6">
                                                <input type="checkbox" class="custom-control-input" required ="required"  id="spare_avail" name="spare_avail">
                                                <label class="custom-control-label" for="spare_avail">Spare Available</label>
                                            </div>
                                            <br>
                                            <div class="custom-control custom-checkbox mr-sm-2 col-lg-6">
                                                <input type="checkbox" class="custom-control-input" required ="required"  id="manual_avail" name="spare_avail">
                                                <label class="custom-control-label" for="manual_avail">Manual Available</label>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-12">
                                            <label>Operator Username </label>
                                            <select name="operator_username" id="operator_username" class="form-control">
                                                <option>Select Operator</option>
                                                {{#each operators}}
                                                    <option value="{{username}}">{{username}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6">
                                            <label>Department </label>
                                            <select name="department" id="department" class="form-control">
                                                <option>Select Department</option>
                                                {{#each departments}}
                                                    <option value="{{name}}">{{name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Location</label>
                                            <input type="text" class="form-control" required ="required"  id="location" placeholder="Enter Location" name="location" id="location">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Notes</label>
                                        <textarea class="form-control" required ="required"  name="notes" id="notes"></textarea>                                    
                                    </div>
                                    <input type="submit" value="Add" class="btn btn-info">
                                </form>
                                
                            </div>
                        </div>
                </div>
            </div>
    
            <footer class="footer text-center">
                All Rights Reserved by CMMS-admin. Designed and Developed by <a href="https://linkedin.com/in/chrisantuseze">Chrisantus Eze</a>.
            </footer>
            
        </div>
        
    </div>
    
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js"></script>
    <!-- This Page JS -->
    <script src="../../assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="../../dist/js/pages/mask/mask.init.js"></script>
    <script src="../../assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="../../assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="../../assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
    <script src="../../assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="../../assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="../../assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="../../assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../../assets/libs/quill/dist/quill.min.js"></script>
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function() {
        $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });

    </script>
    {{!-- <script type="text/javascript">
        $(document).ready(function(){
            let name            = $('#name').val();
            let model           = $('#model').val();
            let serial_num      = $('#serial_num').val();
            let manufacturer    = $('#manufacturer').val();
            let order_num       = $('#order_num').val();
            let manuf_date      = $('#manuf_date').val();
            let received_date   = $('#received_date').val();
            let warr_exp_date   = $('#warr_exp_date').val();
            let install_date    = $('#install_date').val();
            let current_state   = $('#current_state').val();
            let supplier_name   = $('#supplier_name').val();
            let supplier_phnum  = $('#supplier_phnum').val();
            let cost            = $('#cost').val();
            let power_req       = $('#power_req').val();
            let notes           = $('#notes').val();
            let wps             = /^\s*$/;
            //Learn how to check if a button has been clicked
            if(wps.test(name) || wps.test(model) || wps.test(serial_num) || wps.test(manufacturer) || wps.test(order_num)
            wps.test(manuf_date) || wps.test(received_date) || wps.test(warr_exp_date) || wps.test(install_date) || wps.test(current_state)
            wps.test(supplier_name) || wps.test(supplier_phnum) || wps.test(cost) || wps.test(power_req) || wps.test(notes)){
                $('#validation').text("All Fields must be filled");
                return false;
            }
            
        });
    </script> --}}
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script>
    $("form[name='equipt_form']").validate({
                // Specify validation rules
                rules: {
                    name: "required",
                    model: "required",
                    serial_num: "required",
                    manufacturer: "required",
                    order_num: "required",
                    manuf_date: "required",
                    received_date: "required",
                    warr_exp_date: "required",
                    install_date: "required",
                    current_state: "required",
                    supplier_name: "required",
                    supplier_phnum: "required",
                    cost: "required",
                    power_req: "required",
                    notes: "required"
                },
                // Specify validation error messages
                messages: {
                    name: "required",
                    model: "required",
                    serial_num: "required",
                    manufacturer: "required",
                    order_num: "required",
                    manuf_date: "required",
                    received_date: "required",
                    warr_exp_date: "required",
                    install_date: "required",
                    current_state: "required",
                    supplier_name: "required",
                    supplier_phnum: "required",
                    cost: "required",
                    power_req: "required",
                    notes: "required"
                
                
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function(form) {
                form.submit();
                }
            });
        </script>
    
</body>

</html>